[target.aarch64-apple-darwin]
rustflags = ["-C", "link-arg=-Wl,-undefined,dynamic_lookup"]

[target.aarch64-apple-darwin.env]
CXXFLAGS = "-stdlib=libc++"
LDFLAGS = "-lc++"

[target.x86_64-apple-darwin.env]
CXXFLAGS = "-stdlib=libc++"
LDFLAGS = "-lc++"
